.css-1ebprri{
    margin: 0;
    padding: 0;
}
.css-1h3safd-MuiPaper-root-MuiCard-root{
    background-color: rgb(177, 216, 250);
}
.css-1e14yja-MuiCardMedia-root{
    background-color: rgb(177, 216, 250);
}
.StudSV{
    padding-top: 0px;
}