/* style.css */
.custom-event {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5px;
  background-color: lightgreen;
  border: 1px solid blue;
  border-radius: 4px;
  font-size: 14px;
  white-space: pre-wrap;
  height: 100%; /* Đảm bảo sự kiện chiếm toàn bộ chiều cao của khung */
}

.custom-event span {
  display: block;
}
.fc-daygrid-body  > table{
  display: none;
}

.fc-direction-ltr{
  font-family: cursive;
}